h4 {
  color: #6e5ece;
}

span {
  font-weight: bold;
}

div.example {
  width: 300px;
  height: 100px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 5px;
}

.tag {
  margin-bottom: 100px;
}

u {
  text-decoration: red wavy underline;
}
