body {
  margin-top: 100px;
  margin-left: 100px;
}
h4 {
  color: #6e5ece;
}

span {
  font-weight: bold;
}

div.example {
  width: 300px;
  height: 100px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 5px;
}

.tag {
  margin-bottom: 100px;
}

u {
  text-decoration: red wavy underline;
}

i {
  color: lightseagreen;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9em;
}

/* 01_04 CSS */
.tag_ul,
.tag_ol {
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
}

.tag_ol {
  display: flex;
}

.tag_ol > section {
  width: 50%;
}

.radios,
.btns_start_num {
  display: flex;
  flex-direction: column;
}

label {
  color: grey;
}

.controls {
  background-color: #f8f8f8;
}

.controls > div {
  width: 90%;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.controls > div > h4 {
  position: absolute;
  top: -35px;
  left: 10px;
  padding: 5px;
  background-color: #f8f8f8;
}
/* 01_04 CSS END */

/* 01_06 CSS */
table {
  margin-bottom: 50px;
}
/* 01_06 CSS END */

/* 01_07 CSS */
.result {
  width: 600px;
  display: flex;
}

.result > div {
  width: 50%;
}

.a_tag {
  background-color: #f8f8f8;
}

.a_tag > div {
  margin: 20px auto;
  padding: 15px;
  background-color: #f8f8f8;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: relative;
}

.a_tag > div > h4 {
  background-color: #f8f8f8;
  position: absolute;
  top: -35px;
  left: 10px;
  padding: 5px;
}

.id_aLink > div {
  width: 300px;
}

.id_aLink,
.href_div_sub {
  display: flex;
}

.href_div {
  background-color: #f8f8f8;
}

.href_div_sub {
  flex-direction: column;
}

.result_target {
  height: 300px;
  overflow: auto;
}

/* 01_07 CSS END */
